In [ ]:
# Data 205 - Capstone in Data Science
# Jennifer Paraboschi     Fall 2020
# Inputs: data sets from dataMontgomery
# including Alcohol Beverage Licensing Violations

In [1]:
# Import packages. 
# Pull in API data set as json.
import json
import numpy as np
import pandas as pd
import re
import requests
import seaborn as sns
import matplotlib as plt
violations_data = pd.DataFrame(requests.get("https://data.montgomerycountymd.gov/resource/4tja-rkhg.json").json())
violations_data.head()

,facilityname,address,violationdate,violation,disposition,dispositiondate
0,CASPIAN HOUSE OF KABOB,"72 MARKET ST , GAITHERSBURG , MARYLAND - 20878",2020-08-05T00:00:00.000,5.4 ALCOHOL AWARENESS CERTIFICATION,$100 +ALERT,2020-10-10T00:00:00.000
1,CASPIAN HOUSE OF KABOB,"72 MARKET ST , GAITHERSBURG , MARYLAND - 20878",2020-08-05T00:00:00.000,5.5 RECORDS,$500 +ALERT,2020-10-10T00:00:00.000
2,VILLAGE WEST LIQUOR,"19520 WATERS ROAD , GERMANTOWN , MARYLAND - 20876",2020-05-12T00:00:00.000,5.5 RECORDS,$500 +ALERT,2020-10-10T00:00:00.000
3,Q' VIVA COCINA & LOUNGE,"2322 UNIVERSITY BLVD. , SILVER SPRING , MARYLA...",2020-03-28T00:00:00.000,"6.4 CONSUMPTION, POSSESSION, OR SALE DURING PR...",$1000 +ALERT,2020-09-24T00:00:00.000
4,FINNEGAN'S WAKE IRISH PUB,"100 GIBBS ST , ROCKVILLE , MD - 20850",2020-03-20T00:00:00.000,"6.4 CONSUMPTION, POSSESSION, OR SALE DURING PR...",$1000 +ALERT,2020-11-05T00:00:00.000

In [2]:
print(violations_data)

                  facilityname  \
0       CASPIAN HOUSE OF KABOB
1       CASPIAN HOUSE OF KABOB
2          VILLAGE WEST LIQUOR
3      Q' VIVA COCINA & LOUNGE
4    FINNEGAN'S WAKE IRISH PUB
..                         ...
932               JOSE'S GRILL
933               JOSE'S GRILL
934         SEVEN-ELEVEN STORE
935         SEVEN-ELEVEN STORE
936         SEVEN-ELEVEN STORE

                                               address  \
0       72 MARKET ST , GAITHERSBURG , MARYLAND - 20878
1       72 MARKET ST , GAITHERSBURG , MARYLAND - 20878
2    19520 WATERS ROAD , GERMANTOWN , MARYLAND - 20876
3    2322 UNIVERSITY BLVD. , SILVER SPRING , MARYLA...
4                100 GIBBS ST , ROCKVILLE , MD - 20850
..                                                 ...
932             11423 GEORGIA AVE. , WHEATON, MD 20902
933             11423 GEORGIA AVE. , WHEATON, MD 20902
934  14101 GEORGIA AVE. , ASPEN HILL , MARYLAND - 2...
935       14101 GEORGIA AVE. , ASPEN HILL , MD - 20906
936  14101 GEORGIA AVE. , ASPEN HILL , MARYLAND - 2...

               violationdate  \
0    2020-08-05T00:00:00.000
1    2020-08-05T00:00:00.000
2    2020-05-12T00:00:00.000
3    2020-03-28T00:00:00.000
4    2020-03-20T00:00:00.000
..                       ...
932  2015-01-16T00:00:00.000
933  2012-12-20T00:00:00.000
934  2012-10-19T00:00:00.000
935  2012-06-20T00:00:00.000
936  2012-06-19T00:00:00.000

                                             violation  \
0                  5.4 ALCOHOL AWARENESS CERTIFICATION
1                                          5.5 RECORDS
2                                          5.5 RECORDS
3    6.4 CONSUMPTION, POSSESSION, OR SALE DURING PR...
4    6.4 CONSUMPTION, POSSESSION, OR SALE DURING PR...
..                                                 ...
932                                      SALE TO MINOR
933                                      SALE TO MINOR
934  6.4 CONSUMPTION, POSSESSION, OR SALE DURING PR...
935  6.4 CONSUMPTION, POSSESSION, OR SALE DURING PR...
936  6.4 CONSUMPTION, POSSESSION, OR SALE DURING PR...

                   disposition          dispositiondate
0                  $100 +ALERT  2020-10-10T00:00:00.000
1                  $500 +ALERT  2020-10-10T00:00:00.000
2                  $500 +ALERT  2020-10-10T00:00:00.000
3                 $1000 +ALERT  2020-09-24T00:00:00.000
4                 $1000 +ALERT  2020-11-05T00:00:00.000
..                         ...                      ...
932  SETTLED; $3000.00 + ALERT  2016-09-09T00:00:00.000
933   SETTLED; $1000.00 +ALERT  2016-09-09T00:00:00.000
934               $1000 +ALERT  2020-09-24T00:00:00.000
935               $1000 +ALERT  2020-09-24T00:00:00.000
936               $1000 +ALERT  2020-11-05T00:00:00.000

[937 rows x 6 columns]

In [3]:
violations_data.shape

(937, 6)

In [ ]:
# There are 937 rows and 6 variables/columns.

In [4]:
violations_data.dtypes

facilityname       object
address            object
violationdate      object
violation          object
disposition        object
dispositiondate    object
dtype: object

In [ ]:
# Python pulled the variables in as objects.

In [5]:
violations_data.describe(include="all")

,facilityname,address,violationdate,violation,disposition,dispositiondate
count,937,937,937,937,935,934
unique,544,579,337,38,144,405
top,GAITHERSBURG SUPERMARKET,"220 EAST DIAMOND AVENUE , GAITHERSBURG, MD 20877",2018-08-17T00:00:00.000,SALE TO MINOR,SETTLED; $1000.00 + ALERT,2020-09-11T00:00:00.000
freq,11,11,16,381,96,18

In [ ]:
# There are a few missing values for disposition and disposition date (935 and 934 versus 937 in total).
# The most frequent violation is for sale to minor.

In [6]:
type(violations_data)

pandas.core.frame.DataFrame

In [8]:
violations_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937 entries, 0 to 936
Data columns (total 6 columns):
facilityname       937 non-null object
address            937 non-null object
violationdate      937 non-null object
violation          937 non-null object
disposition        935 non-null object
dispositiondate    934 non-null object
dtypes: object(6)
memory usage: 44.0+ KB

In [12]:
violations_data.axes

[RangeIndex(start=0, stop=937, step=1),
 Index(['facilityname', 'address', 'violationdate', 'violation', 'disposition',
        'dispositiondate'],
       dtype='object')]

In [13]:
# Replace missing disposition values with "No Violation".
violations_data["disposition"]=violations_data["disposition"].fillna(value="No Violation", inplace=True)

In [ ]:
# The disposition var inconsistently contains a $ amount of the penalty with inconsistent formatting.